/* === FONT === */

/* amaranth-regular - latin */
@font-face {
  font-family: 'Amaranth';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/amaranth-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/amaranth-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/amaranth-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/amaranth-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/amaranth-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/amaranth-v11-latin-regular.svg#Amaranth') format('svg'); /* Legacy iOS */
}
/* amaranth-700 - latin */
@font-face {
  font-family: 'Amaranth-bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/amaranth-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/amaranth-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/amaranth-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/amaranth-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/amaranth-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/amaranth-v11-latin-700.svg#Amaranth') format('svg'); /* Legacy iOS */
}



/* === GENERAL === */

body {
  font-family: 'Amaranth-bold', 'Arial';
}

caption {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}


/* === COLORS === */

.customHeadline {
  background-color: #fff3cd;
}

.customHeader {
  background-color: #ffffcd;
}

.customEthik {
  background-color: #33cbcc!important;
}

.customFranzösisch {
  background-color: #e6ffa3!important;
}

.customBiologie {
  background-color: #92d14f!important;
}

.customLatein {
  background-color: #ffcb99!important;
}

.customMathe {
  background-color: #9933ff!important;
}

.customEnglisch {
  background-color: #fe0000!important;
}

.customGeographie {
  background-color: #ff32cb!important;
}

.customDeutsch {
  background-color: #ffff03!important;
}

.customKunst {
  background-color: #Aa65ee!important;
}

.customSpanisch {
  background-color: #ffccff!important;
}

.customGeschichte {
  background-color: #F15454!important;

}

.customWirtschaft {
  background-color: #ccedff!important;
}
